{% extends 'base.html' %}
{% block content %}
       <div class="container">
            <div class="pageContentArea">
                <main>
                    <header>
                        <h1>Écrire un billet</h1>
                    </header>
                        <div class="pageContent">
                                <form method="post" enctype="multipart/form-data">
                                    {{ blog_form.as_p }}
                                    {{ photo_form.as_p }}
                                    {% csrf_token %}
                                    <p class="text-center"><button type="submit" class="btn btn-default">Publier</button></p>
                                </form>
                        </div>
                 </main><!--main content of current page-->
              </div><!--pageContentArea-->
       </div><!--container-->
{% endblock content %}