{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/animations.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/dl-menu.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/pixeden-icons.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css'%}" />
    <title>FotoBlog</title>
</head>
<body class="page">
        <div class="xv-overFlow">
           <header class="style1 docHeader">
              <nav id="sticktop" class="navbar navbar-default">
                <div class="container">
                  <div class="navbar-header clearfix">
                    <a class="navbar-brand" href="{% url 'home' %}" style="color:black;">Photo Blog</a>
                  </div>
                  <div class="social-wrap">
                    <ul class="social-list">
                        <li><a href="#" class="icon-user"></a>
                            {% if user.is_authenticated %}
                            Vous êtes connecté en tant que {{ request.user }}.
                            {% endif %}
                        </li>
                    </ul>
                  </div>
                  <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                      <button class="dl-trigger">Open Menu</button>

                      <ul class="dl-menu clearfix">
                          <li class="active"><a href="{% url 'home' %}">Accueil</a></li>
                          <li class="parent"><a href="#">Les articles</a>
                              <ul class="lg-submenu">
                                  <li><a href="{% url 'blog_create' %}">Écrire un billet</a></li>
                              </ul>
                          </li>
                          <li class="parent"><a href="#"> <span class="badge badge-red">Photos</span></a>
                                        <ul class="lg-submenu">
                                            {% if perms.blog.add_photo %}
                                            <li><a href="{% url 'photo_upload' %}">Télécharger une photo</a></li>
                                            {% endif %}
                                            <li><a href="{% url 'create_multiple_photos' %}">Télécharger plusieurs photos</a></li>
                                        </ul>
                           </li>
                          <li><a href="contact.html">Contact</a></li>
                      </ul>
                  </div><!-- /dl-menuwrapper/xv-menuwrapper  -->
                </div>
              </nav>
            </header>

            <div class="after-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10">
                        </div>
                        <div class="col-xs-2">
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"><span class="badge badge-red">Se déconnecter</span></a>
                            {% else %}
                            <a href="{% url 'login' %}"><span class="badge badge-red">Connexion/Inscription</span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% block content %}{% endblock content %}
            <footer>
                <div class="container">
                    <div class="footer_inner">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-lg-4"><div class="widget widget_text">

                                </div>
                            </div>
                        </div><!--row-->
                        <div class="widget widget_menu">
                            <nav class="sitemap">
                                <ul>
                                    <li><a href="{% url 'home' %}">Accueil</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="widget widget_newsletter">

                        </div>
                        <div class="copyrights">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">

                                </div><!--column-->
                                <div class="col-xs-12 col-md-6">
                                    <div class="rights">&copy; 2023 Landev - All right reserved.</div>
                                </div>
                            </div>
                        </div><!--copyrights-->

                    </div>
                </div>
            </footer>
        </div>
</body>
</html>